/Projetos/1.Primeira_classe/nbproject/private/
/Projetos/1.Primeira_classe/build/
/Projetos/2.Primeira_classe_visibilidade/nbproject/private/
/Projetos/3.Metodos_especiais/nbproject/private/
/Projetos/3.Metodos_especiais/build/
/Projetos/3.1.Metodos_especiais_frontend/nbproject/private/
/Projetos/3.0Metodos_especiais/nbproject/private/
/Projetos/3.0Metodos_especiais/build/
/Projetos/3.1.Metodos_especiais_frontend/build/
/Projetos/4.0.Banco_simples/nbproject/private/
/Projetos/4.0.Banco_simples/build/
/Projetos/Teste/nbproject/private/
/Projetos/Teste/build/
